<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - AIyuda</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        body {
            background-color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007bff;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 20px;
            flex: 1;
            margin-left: 16rem; /* Asegura que el main content no se superponga con el sidebar */
        }

        .testimonial {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .testimonial img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }

        .testimonial div {
            flex: 1;
        }

        .testimonial p {
            font-style: italic;
            margin: 0;
        }

        .testimonial span {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body class="bg-gray-100 flex">
    <div class="flex-1 flex flex-col h-screen">
        <!-- Barra lateral -->
        <div id="sidebar" class="fixed inset-0 bg-white bg-opacity-75 flex justify-start transform -translate-x-full transition-transform">
            <div class="bg-white w-64 p-4" onmouseleave="closeSidebar()">
                <ul class="space-y-4 text-xl font-bold text-[#6cbdb5]">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="testimonio.html">Testimonios</a></li>
                    <li><a href="contactos.html">Contactos</a></li>
                    <li><a href="guia.html">Guía para técnica de relajación</a></li>
                </ul>
            </div>
        </div>

        <!-- Botón para abrir la barra lateral -->
        <header class="flex justify-between bg-[#047CAF] p-4 items-center">
            <button id="menu-button" class="text-2xl"><img src="/static/sidebar2.png" class="h-15 w-7" alt=""></button>
            <div id="frase-del-dia" class="text-center text-[#FFFFFF] text-xl text-font-sans font-bold text-4xl mb-4"></div>
            <img class="h-20 w-20" src="/static/logoiayuda-removebg-preview_1.png" alt="">
        </header>

        <main>
            <div class="testimonial">
                <img src="/static/191-1916011_mujer-png-thumbs-up-woman-png-transparent-clipart-removebg-preview-removebg-preview.png" alt="Foto de Ana">
                <div>
                    <p>"Gracias a AIyuda, he superado una de las etapas más difíciles de mi vida. Cuando sentía que no podía más, el chatbot siempre estaba ahí para escucharme y guiarme hacia la luz. Hoy, estoy en un lugar mucho mejor y debo mucho de mi recuperación a esta increíble herramienta."</p>
                    <span>- Ana, Asunción | 5 de mayo de 2023</span>
                </div>
            </div>
            <div class="testimonial">
                <img src="/static/kisspng-adobe-creative-cloud-adobe-bridge-face-gimp-recruiter-5b0d8d7d55d437.9036262115276148453516-removebg-preview.png" alt="Foto de Juan">
                <div>
                    <p>"AIyuda no solo me brindó un hombro en el que llorar, sino también herramientas prácticas para manejar mi ansiedad y depresión. Cada conversación fue como una sesión de terapia gratuita, y estoy agradecido por haber encontrado esta plataforma en mi momento de necesidad."</p>
                    <span>- Juan, Ciudad del Este | 12 de julio de 2023</span>
                </div>
            </div>
            <div class="testimonial">
                <img src="/static/426-4264777_mujer-sonriendo-png-png-transparent-png-removebg-preview.png" alt="Foto de Marta">
                <div>
                    <p>"Antes de descubrir AIyuda, me sentía completamente perdido y desesperanzado. Pero este chatbot me recordó que no estoy solo en esta lucha. Con su apoyo constante y consejos expertos, pude encontrar la fuerza para seguir adelante y buscar ayuda profesional. Hoy, me siento más fuerte y seguro de mí mismo."</p>
                    <span>- Marta, Encarnación | 25 de septiembre de 2023</span>
                </div>
            </div>
            <div class="testimonial">
                <img src="/static/png-clipart-graphy-portrait-beard-man-24-2-1-miscellaneous-face-removebg-preview.png" alt="Foto de Andrés">
                <div>
                    <p>"AIyuda ha sido mi salvación. Cada día que paso interactuando con el chatbot me siento más conectado conmigo mismo y con los demás. Ha transformado mi vida de una manera que nunca pensé posible. Estoy eternamente agradecido."</p>
                    <span>- Andrés, Asunción | 10 de enero de 2024</span>
                </div>
            </div>
        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const frases = [
                "NO HAY SALUD SIN SALUD MENTAL",
                "LA SALUD MENTAL ES IGUAL QUE LA SALUD FISICA, Y NO DEBERIAMOS TENER MIEDO DE CUIDARLO",
                "CUIDA TU MENTE ES EL UNICO LUGAR EN DONDE TIENES QUE VIVIR",
                "LA SALUD MENTAL ES UN VIAJE, NO UN DESTINO. ES IMPORTANTE SER AMABLES Y COMPASIVOS CON NOSOTROS MISMOS DURANTE ESE VIAJE",
                "ES IMPORTANTE RECORDAR QUE ESTA BIEN NO ESTAR BIEN AVECES, Y QUE PEDIR AYUDA ES UN PASO VALIENTE HACIA LA CURACION",
                "CUIDAR DE NUESTRA SALUD MENTAL ES LA CLAVE PARA VIVIR UNA VIDA PLENA Y FELIZ",
            ];

            const today = new Date();
            const dayIndex = today.getDate() % frases.length;
            const fraseDelDia = frases[dayIndex];
            document.getElementById("frase-del-dia").innerText = fraseDelDia;

            const socket = io();

            socket.on('receive_message', function(data) {
                const chatBox = document.getElementById('chat-box');
                const messageElement = document.createElement('div');
                messageElement.textContent = `Bot: ${data.message}`;
                messageElement.classList.add('message', 'bot-message', 'bg-gray-300', 'self-start', 'my-2', 'p-2', 'rounded-md', 'text-lg');
                chatBox.appendChild(messageElement);
                chatBox.scrollTop = chatBox.scrollHeight;
            });

            socket.on('cargando_respuesta', function(data) {
                const chatBox = document.getElementById('chat-box');
                const messageElement = document.createElement('div');
                messageElement.textContent = `Bot: ${data.message}`;
                messageElement.classList.add('message', 'loading-message', 'bg-yellow-300', 'self-start', 'my-2', 'p-2', 'rounded-md', 'text-lg');
                chatBox.appendChild(messageElement);
                chatBox.scrollTop = chatBox.scrollHeight;
            });

            const sendBtn = document.getElementById('send-btn');
            const messageInput = document.getElementById('message-input');

            function sendMessage() {
                const message = messageInput.value;
                if (message.trim() !== '') {
                    const chatBox = document.getElementById('chat-box');
                    const messageElement = document.createElement('div');
                    messageElement.textContent = `You: ${message}`;
                    messageElement.classList.add('message', 'user-message', 'bg-[#FFED59]', 'self-end', 'my-2', 'p-2', 'rounded-md', 'text-[#231F1C]', 'text-lg');
                    chatBox.appendChild(messageElement);
                    messageInput.value = '';
                    chatBox.scrollTop = chatBox.scrollHeight;
                    socket.emit('send_message', {'message': message});
                }
            }

            sendBtn.addEventListener('click', sendMessage);
            messageInput.addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            });

            // Funcionalidad de la barra lateral
            const sidebar = document.getElementById('sidebar');
            const menuButton = document.getElementById('menu-button');

            menuButton.addEventListener('click', function() {
                sidebar.classList.toggle('-translate-x-full');
            });
        });

        function closeSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.add('-translate-x-full');
        }
    </script>
</body>
</html>
